@import "../../config/globals";


$avatar-width: 40px;
$avatar-height: 40px;
$message-height: 50px;
$message-text-height: 40px;
$message-min-width: 300px;
$message-max-width: 600px;

.message {
  float: left;
  background: $c-white;
  border-color: $c-active-border;
  min-height: $message-height;
  min-width: $message-min-width;
  max-width: $message-max-width;
  margin: $offset-2x;
  border-radius: 10px;
  padding: $offset-2x;
  clear: both;
}

.message.__right {
  float: right;
}

.message_creator-avatar {
  float: left;
  width: $avatar-width;
  height: $avatar-height;
  margin: $offset $offset_2x;
}

.message_creator-avatar-img {
  border-radius: 5px;
  max-width: $avatar-width;
  max-height: $avatar-height;
}

.message_creator-avatar.__right {
  float: right;
}

.message-footer {
  clear: both;
  display: flex;
}

.message-footer.__right {
  float:right;
}

.message_creator-name {
  font-size: $fs_x-small;
  margin: $offset;
  vertical-align: middle;
}

.message_created-at {
  font-size: $fs_x-small;
  margin: $offset;
}

.message_text {
  font-size: $fs_x-large;
  min-height: $message-text-height;
  display: inline;
  text-align: center;
  overflow-wrap: break-word;
}
