@import "../../config/globals";


.chats-list-item {
  padding: $offset_3x;
  border-bottom: 1px solid $c-common-border;
  background: #fff;
  display: flex;

  @include clearfix();

  @include not-hovered() {
    .chats-item_remove-action {
      opacity: 0;
      transition: opacity .2s;
    }
  }
  @include hover() {
    background: #fafafa;

    .chats-item_remove-action {
      opacity: 1;
    }
  }
}
.chats-list-item.__hide {
  display: none;
}
.chats-list-item:first-child,
.chats-list-item.__hide:first-child ~ .chats-item {
  border-top: 1px solid $c-common-border;
}
.chats-list-item.__hide:first-child ~ .chats-list-item:not(.__hide) ~ .chats-list-item {
  border-top: 0;
}

.chats-list-item_remove-action {
  float: right;
  margin-top: $offset_3x;
  margin-bottom: $offset_3x;
  order: 1;
  align-self: flex-end;
}

.chats-list-item_remove-action .action_visual {
  width: 16px;
  height: 16px;
  min-width: 16px;
  position: relative;
  overflow: hidden;
}
.chats-list-item_remove-action .action_visual:before,
.chats-list-item_remove-action .action_visual:after {
  content: '';
  position: absolute;
  width: 21px;
  height: 2px;
  background: $c-micro-elements;
  transform-origin: 0 0;
}
.chats-list-item_remove-action .action_visual:before {
  transform: rotate(45deg);
  left: 1px;
}
.chats-list-item_remove-action .action_visual:after {
  transform: rotate(-45deg);
  top: 15px;
}

.chats-list-item_name-w {
  overflow: hidden;
  flex: 1 0;
}
.chats-list-item_name {
  outline: none;
  border: 0;
  font-family: $font-main;
  font-size: $fs_xx-large;
  line-height: $lh_xx-large;
  font-weight: 300;
  padding: $offset $offset_3x;
  overflow: hidden;
}