$c-auth-button: $c-green;

.credentials-field-w {
  margin: $offset_2x;
  overflow: hidden;
}

.credentials-field-text {
  width: 100%;
  box-sizing: border-box;
  font-size: $fs_xx-large;
  height: 64px;
  padding: $offset_4x;
  border: 0;
  outline: 0;
  font-weight: 300;
  color: $c-gray;

  @include placeholder() {
    color: $c-ultra-light;
    font-style: italic;
  }
}

.auth-action-button {
  background-color: $c-auth-button;
  font-size: $fs_xx-large;
  color: white;
  padding: 14px 30px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}