@import "../../config/globals";


$avatar-width: 40px;
$avatar-height: 40px;
$photo-height: 300px;
$photo-img-height: 300px;
$photo-img-width: 300px;
$photo-min-width: 300px;
$photo-max-width: 600px;

.photo {
  background: $c-white;
  border-color: $c-active-border;
  min-height: $photo-height;
  min-width: $photo-min-width;
  max-width: $photo-max-width;
  margin: $offset-2x;
  border-radius: 10px;
  padding: $offset-2x;
  clear: both;
}

.photo.__right {
  float: right;
}

.photo_creator-avatar {
  float: left;
  width: $avatar-width;
  height: $avatar-height;
  margin: $offset $offset_2x;
}

.photo_creator-avatar-img {
  border-radius: 5px;
  max-width: $avatar-width;
  max-height: $avatar-height;
}

.photo_creator-avatar.__right {
  float: right;
}

.photo-footer {
  clear: both;
  display: flex;
}

.photo-footer.__right {
  float:right;
}

.photo_creator-name {
  font-size: $fs_x-small;
  margin: $offset;
  vertical-align: middle;
}

.photo_created-at {
  font-size: $fs_x-small;
  margin: $offset;
}

.photo-block {
  height: $photo-img-height;
  width: $photo-img-width;
  display: flex;
  align-items: center;
}

.photo_img {
  border-radius: 5px;
  max-height: $photo-img-height;
  max-width: $photo-img-width;
}

