.sidebar {
  overflow-x: hidden;
  width: $sidebar-width;
  margin: 0 $offset_8x;
}

.sidebar-list {
}

.sidebar-icon {
  font-size: $fs_xx-large;
  margin: $offset_2x;
  color: $c-gray;
}

.sidebar-icon.__active {
  color: $c-active-border;
}

.sidebar-icon.__hidden {
  display: none;
}