.sidebar {
  overflow-x: hidden;
  width: $sidebar-width;
  margin: 0 $offset_8x;
}

.sidebar-list {
}

.sidebar-list_chats, .sidebar-list_contacts, .sidebar-list_files, .sidebar-login, .sidebar-registration {
  font-size: $fs_xx-large;
  margin: $offset_2x;
  color: $c-gray;
}

.sidebar-list_chats.__active, .sidebar-list_contacts.__active, .sidebar-list_files.__active, .sidebar-login.__active, .sidebar-registration.__active{
  color: $c-active-border;
}